<h1> Results </h1>

<p> <%= @text %> has <%= @word_count%> words</p>

<p> it would take 
<%= @seconds %>
secs to read
</p>


<%= link_to 'home', home_path %> 

<p>

all words are

<%= @top_ten_words %>

</p>