<h1> new comment </h1>

<% if @my_comment.errors.any? %>
<ul>
<%= @my_comment.errors.full_messages.each do |error_msg|%>
	<li> <%= error_msg %> </li>
	<% end %>
</ul>
<% end %>


<%=form_for [@my_concert, @my_comment] do |f|%>

	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :content %>
	<%= f.text_field :content %>

	<%= f.button%>

<% end %>