<h1> new comment </h1>

<%=form_for [@my_concert, @my_comment] do |f|%>

	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :content %>
	<%= f.text_field :content %>

	<%= f.button%>

<% end %>