<h1> <%= @concert.artist %> </h1>

<ul>
	<li> Venue: <%= @concert.venue %> </li>	
	<li> City: <%= @concert.city %> </li>
	<li> Date: <%= @concert.date %> </li>	
	<li> Price: <%= @concert.price %> </li>
	<li> Description: <%= @concert.description %> </li>
</ul>

<% @this_concert.each do |one_comment|%>
	<%= one_comment.title%>
	<br>
	<%= one_comment.content%>
	<br>
	<br>
	<% end %>
<br>

<%= link_to "add a comment", new_concert_comment_path(@concert.id)%>