<!DOCTYPE html>
<html>
  <head>
    <title>Timetracking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <%= yield %>

   <%= render partial: "snippets/navigation" %>


  <!-- <header>
  	<h1>timetracking</h1>
  	<ul>
  		<li> <a href="/"> Home </a> </li>
  		<li> <a href="/contact"> Contact </a> </li>
      <li> <a href="/calculator"> add stuff </a> </li>
  	</ul>
  </header> -->

    <footer>
    	<p> made at ironhack </p>
    </footer>
  </body>
</html>
