<%= @my_product.title%>

<ul>
<li>product:  <%= @my_product.title%></li>
<li>description: <%= @my_product.description%></li>
<li>deadline: <%= @my_product.deadline%> </li>
</ul>


<%= link_to "back", user_path(@my_product)%>